.App {
  /* max-width: 100vw;
  height: 100vh; */
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
}

.light {
  background-color: #F7F9F9;
  color: #000;
  transition: all 500ms;
}

.dark {
  background-color: #1C2833;
  color: #fff;
  transition: all 500ms;
}